/AgeInDays/nbproject/private/
/AgeInDays/build/
/GradeAvg/nbproject/private/
/GradeAvg/build/
/Salary/nbproject/private/
/Salary/build/
/Usuario/nbproject/private/
/Contatos/nbproject/private/
/Contatos/build/
/Passagem/nbproject/private/
/projPassagem/nbproject/private/
/projPassagem/build/
/Cliente/nbproject/private/
/Cliente/build/
/Fornecedores/nbproject/private/
/Fornecedores/build/
/Dobro/nbproject/private/
/Dobro/build/
/Produto_ex5/nbproject/private/
/Produto_ex5/build/
/MediaMatematica/nbproject/private/
/MediaMatematica/build/
/Usuario/build/