/Introduction/AgeInDays/nbproject/private/
/Introduction/AgeInDays/build/
/Introduction/GradeAvg/nbproject/private/
/Introduction/GradeAvg/build/
/Introduction/Salary/nbproject/private/
/Introduction/Salary/build/
/exercises_OO/examples/Usuario/nbproject/private/
/exercises_OO/examples/Contatos/nbproject/private/
/exercises_OO/examples/Contatos/build/
/exercises_OO/projPassagem/nbproject/private/
/exercises_OO/projPassagem/build/
/exercises_OO/Cliente/nbproject/private/
/exercises_OO/Cliente/build/
/exercises_OO/Fornecedores/nbproject/private/
/exercises_OO/Fornecedores/build/
/exercises_OO/Dobro/nbproject/private/
/exercises_OO/Dobro/build/
/exercises_OO/Produto_ex5/nbproject/private/
/exercises_OO/Produto_ex5/build/
/exercises_OO/MediaMatematica/nbproject/private/
/exercises_OO/MediaMatematica/build/
/exercises_OO/examples/Usuario/build/
/exercises_OO/ProjetoMultiplicacao/nbproject/private/
/exercises_OO/ProjetoMultiplicacao/build/
/exercises_OO/exercises2_quadrado/nbproject/private/
/exercises_OO/exercises2_quadrado/build/
/exercises_OO/exercises2_idadePessoa/nbproject/private/
/exercises_OO/exercises2_idadePessoa/build/
/exercises_OO/exercises2_Loja/nbproject/private/
/exercises_OO/exercises2_Loja/build/
/Introduction/if_categoriaCliente/nbproject/private/
/Introduction/if_categoriaCliente/build/
/exercises_conditionals/OlimpiadaMatematica/nbproject/private/
/exercises_conditionals/OlimpiadaMatematica/build/
/exercises_conditionals/Prova/nbproject/private/
/exercises_conditionals/Prova/build/
/Introduction/ControleCaixa/nbproject/private/
/exercises_JOption/JavaApplication24/nbproject/private/
/exercises_JOption/CalculadoraBasica/nbproject/private/
/Introduction/ControleCaixa/build/
/exercises_JOption/CalculadoraBasica/build/
/exercises_JOption/ControleComissao/nbproject/private/
/exercises_JOption/ControleComissao/build/
/exercises_JOption/ControleClientes/nbproject/private/
/exercises_JOption/ControleClientes/build/
/exercises_JOption/CustoViagem/nbproject/private/
/exercises_JOption/CustoViagem/build/
/exercises_JOption/ControleClienteProduto/nbproject/private/
/exercises_JOption/ControleClienteProduto/build/
/exercises_JOption/Restaurante/nbproject/private/
/exercises_JOption/Restaurante/build/
/exercises_JOption/CalculoCustoPiso/nbproject/private/
/exercises_JOption/CalculoCustoPiso/build/
/exercises_JOption/CalculoQuadrado/nbproject/private/
/exercises_JOption/CalculoQuadrado/build/
/exercises_JOption/CalculoEleitores/nbproject/private/
/exercises_JOption/CalculoEleitores/build/
/exercises_JOption/prova_MatheusFelipe/JavaApplication33/nbproject/private/
/exercises_JOption/prova_MatheusFelipe/exercicio1_Prova/nbproject/private/
/exercises_JOption/prova_MatheusFelipe/exercicio1_Prova/build/
/exercises_JOption/prova_MatheusFelipe/exercicio2_Prova/nbproject/private/
/exercises_JOption/prova_MatheusFelipe/exercicio2_Prova/build/
/exercises_BD/ProjetoClienteBD/nbproject/private/
/exercises_BD/ProjetoClienteBD/build/
/exercises_BD/ProjetoUsuario/nbproject/private/
/exercises_BD/ProjetoUsuario/build/
/exercises_BD/Exercicio1/nbproject/private/
/exercises_BD/Exercicio1/build/